# Ignore all Makefiles anywhere in the project
**/Makefile linguist-documentation
makefile linguist-documentation
*.mk linguist-documentation

# Explicitly promote Rust
*.rs linguist-detectable=true
*.rs linguist-language=Rust

target/** linguist-vendored
target/** linguist-generated
